*.DS_Store
*.svn
*.mat
*.pdf
*.asv
*.eps
*.mdl
*.slx
*.zip
*.png
*.orig
helpfiles/helpsearch-v3/*.cfe
helpfiles/helpsearch-v3/*.gen
data/
helpfiles/
helpfiles/helpsearch/
helpfiles/helpsearch-v3/
slprj/

